<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <style>
        form {
            display: inline-block;
        }
    </style>
</head>
<body>
<h1>Welcome Spark FileServer with AWS Bucket Support</h1>
<h2>Please choose your a file from your local file system and upload it to AWS Bucket</h2>


    <form name="form1" action="/upload" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="uploadFile"/>
        <input type="submit" name="Upload File"/>
    </form>

<h2>The current files in the Bucket {{bucket_name}}</h2>

<ul>
    {% for s3_file in file_obj_list %}
    <h2>
        <li>{{ s3_file.key }}, {{s3_file.size | filesizeformat}}</li>
    </h2>

    {% endfor %}
</ul>

</body>
</html>